<h1 class="mb-4"><%= t('tasks.index.title') %></h1>

<%= form_with(scope: :search, url: tasks_path, method: :get, local: true, class: 'search-form form-inline mb-4 p-3 bg-light border rounded', id: 'search_form') do |form| %>
  
  <div class="form-group mr-3">
    <%= form.label :status, 'ステータス', class: 'mr-2 font-weight-bold' %>
    <%= form.select :status, Task.statuses.keys.map { |k| [t("activerecord.enums.task.status.#{k}"), k] }, { include_blank: true, selected: params.dig(:search, :status) }, class: 'form-control', id: 'search_status' %>
  </div>

  <div class="form-group mr-3">
    <%= form.label :title, 'タイトル', class: 'mr-2 font-weight-bold' %>
    <%= form.text_field :title, value: params.dig(:search, :title), class: 'form-control', id: 'search_title' %>
  </div>

  <div class="form-group mr-3">
    <%= form.label :label_id, 'ラベル', class: 'mr-2 font-weight-bold' %>
    <%= form.select :label_id, current_user.labels.pluck(:name, :id), { include_blank: true, selected: params.dig(:search, :label_id) }, class: 'form-control', id: 'label_id' %>
  </div>

  <%= form.submit "検索", id: 'search_task', class: 'btn btn-primary' %>
<% end %>

<table class="table border-bottom mb-4">
  <thead>
    <tr>
      <th class="border-top-0"><%= Task.human_attribute_name(:title) %></th>
      <th class="border-top-0"><%= Task.human_attribute_name(:content) %></th>
      <th class="border-top-0"><%= Task.human_attribute_name(:created_at) %></th>
      <th class="border-top-0"><%= link_to Task.human_attribute_name(:deadline_on), sort_deadline_on: true %></th>
      <th class="border-top-0"><%= link_to Task.human_attribute_name(:priority), sort_priority: true %></th>
      <th class="border-top-0"><%= Task.human_attribute_name(:status) %></th>
      <th class="border-top-0" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="align-middle border-top-0 border-bottom"><%= task.title %></td>
        <td class="align-middle border-top-0 border-bottom"><%= task.content %></td>
        <td class="align-middle border-top-0 border-bottom"><%= task.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td class="align-middle border-top-0 border-bottom"><%= task.deadline_on %></td>
        <td class="align-middle border-top-0 border-bottom"><%= t("activerecord.enums.task.priority.#{task.priority}") %></td>
        <td class="align-middle border-top-0 border-bottom"><%= t("activerecord.enums.task.status.#{task.status}") %></td>
        
        <td class="align-middle border-top-0 border-bottom pr-1">
          <%= link_to 'show', task, class: 'btn btn-sm btn-primary show-task' %>
        </td>
        <td class="align-middle border-top-0 border-bottom px-1">
          <%= link_to 'edit', edit_task_path(task), class: 'btn btn-sm btn-primary edit-task' %>
        </td>
        <td class="align-middle border-top-0 border-bottom pl-1">
          <%= link_to 'delete', task, method: :delete, data: { confirm: t('tasks.index.confirm') }, class: 'btn btn-sm btn-danger destroy-task' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @tasks %>
</div>