<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
Nadongo    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid #ccc;">
      <nav>
        <%= link_to t('common.nav.tasks_index'), tasks_path, id: 'tasks-index' %> |
        <%= link_to t('common.nav.new_task'), new_task_path, id: 'new-task' %>
      </nav>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash <%= key %>"><%= message %></div>
    <% end %>

    <hr>

    <%= yield %>
  </body>
</html>
